* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 65%;
    padding: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    margin-right: 17px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: tahoma ;
}

.banner-container .container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.home-right-section{
    height: 100px;
}

.home-right-section img{
    width: 140px;
    height: 100px;
    border-radius: 25px;
    margin-top: 280px;
    margin-left: 50px;
}

.home-right-section h6{
    margin-left: 70px;
    color: hsl(94, 33%, 22%);
}

.home-left-section img{
    margin-left: 180px;
}

.home-left-section h6{
    margin-left: 407px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: hsla(0, 0%, 40%, 0.11);
    border-radius: 30px;
    padding: 7px;
}

.home-left-section h1{
    color: rgb(37, 63, 9);
    font-size: 55px;
    padding-bottom: 10px;
}

.just-text{
    width: 730px;
}

.tittel-names{
    margin-top: -300px;
    margin-left: -100px;
    padding-bottom: 200px;
}

.home-top-bottom-section{
    display: flex;
    justify-content: space-around
}

.htbs-left button{
    width: 50px;
    height: 50px;
    border-radius: 60px;
    font-size: 35px;
    margin-left: 20px;
}

.htbs-left-buttons{
    padding-top: 80px;
    margin-left: -25px;
}

.htbs-left p{
    color: rgb(30, 90, 35);
    font-weight: bold;
}

.htbs-texts{
    margin-left: 145px;
    margin-top: -80px;
}

.htbs-texts h1{
    font-size: 50px;
}

.htbs-texts h4{
    color: rgb(36, 68, 27);
}

.htbs-right img{
    width: 63px;
    height: 60px;
    border-radius: 50px;
}

.htbs-right figure{
    display: flex;
    align-items: center;
    margin-left: 143px;
    padding-top: 50px;
}

.htbs-right figcaption h4{
    color: rgb(34, 82, 19);
    margin-left: 20px;
}

.htbs-right figcaption h6{
    margin-left: 20px;
}

.home-second-section{
    padding-top: 100px;
}

.second-container{
    width: 98%;
    height: 130vh;
    background-color: rgb(81, 146, 87);
    border-radius: 30px;
    margin-left: 13px;
    display: flex;
}

.home-second-section-left h1{
    padding-bottom: 50px;
    color: white;
}

.home-second-section-left img{
    height: 500px;
    width: 400px;
    border-radius: 20px;
}

.home-second-section-left{
    width: 50%;
    margin-top: 90px;
}

.home-second-section-right{
    width: 50%;
    margin-left: 625px;
    margin-top: -640px;
}

.second-container .container .home-second-section-right{
    display: flexbox;
    justify-content: end;
}

.home-second-section-right-text{
    padding-bottom: 50px;
    color: white;
}

.home-second-section-right-text-second{
    padding-top: 30px;
    padding-bottom: 20px;
    color: white;
}

.home-second-section-right button{
    width: 140px;
    height: 50px;
    border-radius: 50px;
    border-color: rgb(0, 185, 185);
}

.home-second-section-right img{
    height: 275px;
    width: 250px;
    border-radius: 30px;
}

.home-second-section-bottom{
    padding-top: 100px;
    display: flex;
    justify-content: space-around;
}

.hssb-right-section-happy-costomers{
    padding-top: 90px;
    display: flex;
    justify-content: space-evenly;
}

.hssb-left-section h3{
    color: rgb(24, 49, 16);
}

.hssb-right-section h4{
    color: gray;
}

.happy-costomers-k{
    margin-left: -250px;
}