* {
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 65%;
    padding: 20px;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header a{
    text-decoration: none;
    margin-right: 17px;
    font-size: 15px;
    letter-spacing: 1px;
    font-family: tahoma ;
}

.banner-container .container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.home-right-section{
    height: 100px;
}

.home-right-section img{
    width: 140px;
    height: 100px;
    border-radius: 25px;
    margin-top: 280px;
    margin-left: 50px;
}

.home-right-section h6{
    margin-left: 70px;
    color: hsl(94, 33%, 22%);
}

.home-left-section img{
    margin-left: 180px;
}

.home-left-section h6{
    margin-left: 407px;
    margin-top: 80px;
    margin-bottom: 20px;
    padding-left: 10px;
    background-color: hsla(0, 0%, 40%, 0.11);
    border-radius: 30px;
    padding: 7px;
}

.home-left-section h1{
    color: rgb(37, 63, 9);
    font-size: 55px;
    padding-bottom: 10px;
}

.just-text{
    width: 730px;
}

.tittel-names{
    margin-top: -300px;
    margin-left: -100px;
    padding-bottom: 200px;
}